![](../src/logo.svg)

**© Jesús López**

Ask him any doubt on **[Twitter](https://twitter.com/jsulopz)** or **[LinkedIn](https://linkedin.com/in/jsulopz)**

<a href="https://colab.research.google.com/github/jsulopz/resolving-machine-learning/blob/main/06_Principal%20Component%20Analysis%20%28PCA%29/06_dimensionality-reduction-pca_session_solution.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# 07 | Machine Learning in Production

## Load the Data

- Simply execute the following lines of code to load the data
- This dataset contains **statistics** (columns)
- About **Car Models** (rows)

In [2]:
import seaborn as sns #!

df = sns.load_dataset(name='mpg', index_col='name')
df.sample(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
triumph tr7 coupe,35.0,4,122.0,88.0,2500,15.1,80,europe
volkswagen rabbit l,36.0,4,105.0,74.0,1980,15.3,82,europe
toyota mark ii,19.0,6,156.0,108.0,2930,15.5,76,japan
plymouth satellite custom,16.0,6,225.0,105.0,3439,15.5,71,usa
audi 5000s (diesel),36.4,5,121.0,67.0,2950,19.9,80,europe

## Preprocess the Data

In [3]:
df = df.dropna()

In [4]:
import pandas as pd


df_mpg = pd.get_dummies(data=df , drop_first=True)
df_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin_japan,origin_usa
name,,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,0,1
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,0,1
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,0,1
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,0,1
ford torino,17.0,8,302.0,140.0,3449,10.5,70,0,1
...,...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,0,1
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,0,0
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,0,1
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,0,1
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,0,1

## Feature Selection

In [15]:
explanatory= df_mpg[['weight', 'acceleration']]
explanatory

                           weight  acceleration
name
chevrolet chevelle malibu    3504          12.0
buick skylark 320            3693          11.5
plymouth satellite           3436          11.0
amc rebel sst                3433          12.0
ford torino                  3449          10.5
...                           ...           ...
ford mustang gl              2790          15.6
vw pickup                    2130          24.6
dodge rampage                2295          11.6
ford ranger                  2625          18.6
chevy s-10                   2720          19.4

[392 rows x 2 columns]

In [16]:
target = df_mpg.mpg

## `LinearRegression()` in Python

### Fit the Model

In [18]:
from sklearn.linear_model import LinearRegression
model_lr = LinearRegression()
model_lr.fit(X=explanatory, y=target)

LinearRegression()

### Calculate Predictions

In [19]:
df_pred = model_lr.predict(X=explanatory)

In [20]:
model_lr.__dict__

{'fit_intercept': True,
 'normalize': 'deprecated',
 'copy_X': True,
 'n_jobs': None,
 'positive': False,
 'feature_names_in_': array(['weight', 'acceleration'], dtype=object),
 'n_features_in_': 2,
 'coef_': array([-0.0072931,  0.2616504]),
 'rank_': 2,
 'singular_': array([16795.86372672,    49.58755952]),
 'intercept_': 41.09532877960423}

`y = 41.09532877960423 - 0.0072931* weight + 0.2616504 * accelelation`

In [21]:
import pickle

with open('linear_regression_model.pkl', 'wb') as f:
    pickle.dump(model_lr, f)

## Model in Production

### What would happen in the website?

Simulate how the user will input the Data to classify them.

### Place a form in a Flask application

### Develop the `app.py` script

1. Save the model computed in this notebook to a pickle file
2. Load the model object into `app.py`
3. Place the user inupt data into an object
4. To calculate the prediction with the model
5. Pass the prediction to the web page

<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.