<font size="+5">#01 | Machine Learning & Linear Regression</font>


<div class="alert alert-warning">
  <ul>
    <li>
      <b>Python</b> + <b>Data Science</b> Tutorials in â†“
      <ul>
        <li>
          <a href="https://www.youtube.com/c/PythonResolver?sub_confirmation=1"
            >YouTube</a
          >
        </li>
        <li>
          <a href="https://blog.pythonresolver.com/">Blog</a>
        </li>
        <li>
          <a href="https://github.com/jsulopz/00-python-resolver-discipline">GitHub</a>
        </li>
      </ul>
    </li>
    <li>
      Author: <a href="https://twitter.com/jsulopz"><b>@jsulopz</b></a>
    </li>
  </ul>
</div>

<a href="https://colab.research.google.com/github/jsulopz/machine-learning/blob/main/01_Machine%20Learning%20%26%20Linear%20Regression/01practice_machine-learning-linear-regression.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Load the Data

> Load the Titanic dataset with the below commands
> - This dataset **people** (rows) aboard the Titanic
> - And their **sociological characteristics** (columns)
> - The aim of this dataset is to predict the probability to `survive`
> - Based on the social demographic characteristics.

In [1]:
import seaborn as sns #!

df = sns.load_dataset(name='titanic').iloc[:, :4]
df.head()

   survived  pclass     sex   age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

# `DecisionTreeClassifier()` Model in Python

## Build the Model

> 1. **Necesity**: Build Model
> 2. **Google**: How do you search for the solution?
> 3. **Solution**: Find the `function()` that makes it happen

## Code Thinking

> Which function computes the Model?
> - `fit()`
>
> How could can you **import the function in Python**?

In [3]:
fit()

NameError: name 'fit' is not defined

In [4]:
model.fit()

NameError: name 'model' is not defined

`model = ?`

In [5]:
from sklearn.tree import DecisionTreeClassifier

In [6]:
model = DecisionTreeClassifier()

In [7]:
model.fit()

TypeError: fit() missing 2 required positional arguments: 'X' and 'y'

### Separate Variables for the Model

> Regarding their role:
> 1. **Target Variable `y`**
>
> - [ ] What would you like **to predict**?
>
> 2. **Explanatory Variable `X`**
>
> - [ ] Which variable will you use **to explain** the target?

In [10]:
X = df.drop(columns='survived')
y = df.survived

### Finally `fit()` the Model

In [12]:
import pandas as pd

In [13]:
df

     survived  pclass     sex   age
0           0       3    male  22.0
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
4           0       3    male  35.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[891 rows x 4 columns]

In [14]:
df = pd.get_dummies(df, drop_first=True)

In [16]:
df

     survived  pclass   age  sex_male
0           0       3  22.0         1
1           1       1  38.0         0
2           1       3  26.0         0
3           1       1  35.0         0
4           0       3  35.0         1
..        ...     ...   ...       ...
886         0       2  27.0         1
887         1       1  19.0         0
888         0       3   NaN         0
889         1       1  26.0         1
890         0       3  32.0         1

[891 rows x 4 columns]

In [17]:
X = df.drop(columns='survived')
y = df.survived

In [18]:
model.fit(X, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [20]:
df.dropna()

     survived  pclass   age  sex_male
0           0       3  22.0         1
1           1       1  38.0         0
2           1       3  26.0         0
3           1       1  35.0         0
4           0       3  35.0         1
..        ...     ...   ...       ...
886         0       2  27.0         1
887         1       1  19.0         0
888         0       3   NaN         0
889         1       1  26.0         1
890         0       3  32.0         1

[891 rows x 4 columns]

In [22]:
df = df.dropna()

In [23]:
X = df.drop(columns='survived')
y = df.survived

In [24]:
model.fit(X, y)

DecisionTreeClassifier()

## Calculate a Prediction with the Model

> - `model.predict_proba()`

## Model Visualization

> - `tree.plot_tree()`

## Model Interpretation

> Why `sex` is the most important column? What has to do with **EDA** (Exploratory Data Analysis)?

<a href="http://www.youtube.com/watch?feature=player_embedded&v=7VeUPuFGJHk" target="_blank">
 <img src="http://img.youtube.com/vi/7VeUPuFGJHk/hqdefault.jpg" alt="Watch the video" width="560" height="315"/>
</a>

# Prediction vs Reality

> How good is our model?

## Precision

> - `model.score()`

## Confusion Matrix

> 1. **Sensitivity** (correct prediction on positive value, $y=1$)
> 2. **Specificity** (correct prediction on negative value $y=0$).

## ROC Curve

> A way to summarise all the metrics (score, sensitivity & specificity)